<html>
    <head>
        <title>{{title}} </title>
        <style>
            .main{
            background-color: red;
            width: 1000px;
            color:white;
            padding: 20px;
            font-size : 30px;
            }
 
        </style>

    </head>
    <body>

        {% for n in clist %}
        <div>{{forloop.last}} {{n}} </div>
        {%endfor%}
        <br/>
        <table border="1" cellpadding='10'>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
            </tr>
            {% for d in student_details %}
            <tr>
                <td>{{d.name}} </td>
                <td>{{d.phone}} </td>

            </tr>
            {% endfor %}
        </table>
        <div>{{numbers|length}} </div>
        {% if numbers|length > 0 %}

            {% for n in numbers%}

                {%if n >= 30 %}
                <div>{{n}} </div>
                {%endif%}

            {%endfor%}
        {%else%}
            No data found
        {%endif%}
        


    </body>

</html>

    